* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

#nav-bar {
  /* 부모 태그의 크기를 기준으로 절대 위치를 지정ㅓ */
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background-image: linear-gradient(to right, #a517ba, #5f1782);
}
